service devtitans.weatherstation-service /vendor/bin/hw/devtitans.weatherstation-service
        interface aidl devtitans.weatherstation.IWeatherstation/default
        class hal
        user root
        group root